<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188497501196-gm5dlj38bdt7pfnjpgg79csog651qvhr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188497501196-gm5dlj38bdt7pfnjpgg79csog651qvhr</string>
	<key>API_KEY</key>
	<string>AIzaSyBO5Z9m_a79g5falHyaO4gZiaO-LRHX2fk</string>
	<key>GCM_SENDER_ID</key>
	<string>188497501196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matchingo.game</string>
	<key>PROJECT_ID</key>
	<string>match3-vocab-game</string>
	<key>STORAGE_BUCKET</key>
	<string>match3-vocab-game.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188497501196:ios:5ed7af538d083ed590a229</string>
</dict>
</plist>